body {
    max-width: 100%;
    margin: auto;
    font-size: 24px;
}
header, footer {
    background-color: #E69D33;
    padding: 5px 35px 0px 35px;
}
footer {
    height: 120px;
    margin-top: 20px;
}
.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center; 
}
.align-center {
    align-items: center;
}
ol, ul {
    padding: 0px;
}
.grid-column-three {
    display: grid;
    grid-template-columns: Auto Auto Auto;
    grid-template-rows: Auto Auto Auto;
}
.grid-column-four {
    display: grid;
    grid-template-columns: Auto Auto Auto Auto;
    grid-template-rows: Auto Auto Auto Auto;
}
.ry-paris {
    flex-flow: column;
    background-image: url("../images/ryparis-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    width: 300px;
    position: relative;
}
@media only screen and (max-width: 1000px) {
    .right-nav {
      display: none;
    }
  }
@media only screen and (min-width: 1001px) {
    .right-nav {
        justify-content: end;
        align-items: start;
        margin: 5px;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
.right-nav a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.right-nav a:hover {
    color: #e65533;
}
.right-nav div {
    padding: 10px;
    margin: 5px;
}
.hamburger, .start-week {
    background-size: cover;
    height: 580px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.start-week {
    background-image: url("../images/hero-image.jpg");
}
.hamburger {
    background-image: url("../images/bengal-burger.jpg");
}
.start-week-text, .hamburger-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-transform: uppercase;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-size: 40px;
}
.everyday, .recipes-week, .travel-guide {
    padding: 50px 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.everyday h1, .recipes-week h1, .travel-guide h1 {
    font-weight: 900;
}
.everyday p, .recipes-week p, .travel-guide p {
    font-size: 32px;
}
.breakfast, .lunch, .dinner, .sandwiches, .pizza, .city-guides {
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    padding: 15px;
    text-align: center;
    margin: auto;
}
.photo-text {
    text-align: center;
    font-weight: 700;
    background-color: white;
    padding: 12px 0px;
    width: auto;
}
.breakfast {
    background-image: url("../images/breakfast-ideas.jpg");
}
.lunch {
    background-image: url("../images/vegetarian-ideas.jpg");
}
.dinner {
    background-image: url("../images/cold-weather-dinners.jpeg");
}
.recipes-week, .cooking-info {
    background-color: #DADFEA;
}
.fajita, .muffin, .eggplant, .chicken-thigh {
    background-size: cover;
    width: 250px;
    height: 200px;
    padding: 10px;
}
.fajita {
    background-image: url("../images/fajita-peppers.jpeg");
}
.muffin {
    background-image: url("../images/muffins.jpeg");
}
.eggplant {
    background-image: url("../images/eggplant-parmesan.jpg");
}
.chicken-thigh {
    background-image: url("../images/teriyaki-chicken.jpeg");
}
.sandwiches, .pizza, .city-guides {
    border: solid 8px #DADFEA;
}
.sandwiches {
    background-image: url("../images/burger.jpg");
}
.pizza {
    background-image: url("../images/pizza.jpeg");
}
.city-guides {
    background-image: url("../images/city-guides.jpg");
}
.cooking-info {
    padding: 5px 110px;
    font-family: Arial, Helvetica, sans-serif;
}
.time, .ingredients h1, .ingredients h4, .directions h1, .directions h4 {
    margin: 0px;
    padding: 0px;
}
.cooking-description {
    width: 1000px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cooking-description div {
    text-align: left;
    margin: 10px 0px;
}
.cooking-description span {
    font-weight: 900;
}
.recipe-title {
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.recipe-title h1 {
    text-transform: uppercase;
    margin: 70px 0px 20px 0px;
}
.checked {
    color: #A63223;
  }
  .stars, .stars p, .buttons {
    justify-content: center;
    margin: 10px 0px;
}
.save-recipe {
    background-color: #A63223;
    color: white;
    padding: 8px;
    font-size: 18px;
    width: 170px;
    height: 40px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0px 10px 40px 0px;
}
.print-page {
    border-radius: 50%;
    border: solid 1px black;
    height: 35px;
    width: 35px;
    margin: 0px 0px 40px 5px;
}
.print-page img {
    height: 25px;
    width: 25px;
    padding: 5px 0px;
}
.reviews {
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.page-quote {
    margin: auto;  
}
.quote {
    background-color: #EEF0F4;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 200px;
    font-size: 32px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.how-to {
    width: 1151px;
    margin: 0 auto;
    justify-content: start;
    padding: 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.how-to ul, .how-to ol {
    margin: 20px;
    list-style-type: circle black;
}
.ingredients, .directions {
    width: 50%;
}
.email-subscription {
    width: 1100px;
    height: 100px;
    margin: auto;
    padding: 10px 40px 5px 40px;
    background-color: #DADFEA;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}
.submit {
    width: 70px;
    height: 30px;
    padding: 0px;
    margin: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-ideas {
    max-width: 200px;
    max-height: 90px;
}
.gordan-ram {
    width: 500px;
    margin: 20px auto;
    margin-bottom: 50px;
}
iframe {
    border: none;
}